<%= form_with(model: [@shoe, @run], id: "#{dom_id(@run)}_form",  html: { class: "flex flex-col gap-1 items-center py-2 px-5 rounded bg-neutral-100 #{@run.new_record? ? "border-2 dark:border-neutral-700" : ""} dark:bg-neutral-800" }) do |form| %>
  <div class="w-full grid sm:grid-cols-2 md:grid-cols-3 gap-x-2">
    <div class="flex flex-col">
      <div class="flex items-baseline gap-1">
        <%= form.label :date, "Date:", class: "lowercase text-sm" %>
        <% form.object.errors.full_messages_for(:date).each do |msg| %>
          <span class="text-sm text-pink-500"><%= msg %></span>
        <% end %>
      </div>
      <%= form.date_field :date, 
        max: Date.today, 
        class: "rounded p-1 bg-neutral-50 border-mint w-full text-eggplant dark:bg-neutral-800 dark:text-neutral-50" %>
    </div>

    <div class="flex flex-col">
      <div class="flex items-baseline gap-1">
        <%= form.label :distance, "Distance:", class: "lowercase text-sm" %>
        <% form.object.errors.full_messages_for(:distance).each do |msg| %>
          <span class="text-sm text-pink-500"><%= msg %></span>
        <% end %>
      </div>
      <%= form.number_field :distance, 
        step: :any, 
        min: 0, 
        value: ((current_user.unit == "mi" ? @run.distance : miles_to_km(@run.distance).round(2)) if @run.distance), 
        class: "rounded p-1 bg-neutral-50 border-mint w-full text-eggplant dark:bg-neutral-800 dark:text-neutral-50" %>
    </div>

    <div class="flex flex-col">
      <%= form.label :distance_units, "Units:", class: "lowercase text-sm" %>
      <%= form.select :distance_units, 
        ['mi', 'km'], 
        { selected: current_user.unit }, 
        { class: "rounded p-1 bg-neutral-50 border-mint text-eggplant dark:bg-neutral-800 dark:text-neutral-50" } %>
    </div>

    <div class="flex flex-col">
      <%= form.label :hours, "Hours:", class: "lowercase text-sm" %>
      <%= form.number_field :hours, 
        value: @run.duration ? (@run.duration/3600).floor : 0, 
        min: 0, 
        max: 100, 
        class: "rounded p-1 bg-neutral-50 border-mint w-full text-eggplant dark:bg-neutral-800 dark:text-neutral-50" %>
    </div>

    <div class="flex flex-col">
      <%= form.label :minutes, "Minutes:", class: "lowercase text-sm" %>
      <%= form.number_field :minutes, 
        value: @run.duration ? (@run.duration/60).floor % 60 : 0, 
        min: 0, 
        max: 59, 
        class: "rounded p-1 bg-neutral-50 border-mint w-full text-eggplant dark:bg-neutral-800 dark:text-neutral-50" %>
    </div>

    <div class="flex flex-col">
      <%= form.label :seconds, "Seconds:", class: "lowercase text-sm" %>
      <%= form.number_field :seconds, 
        value: @run.duration ? (@run.duration % 60) : 0, 
        min: 0, 
        max: 59, 
        class: "rounded p-1 bg-neutral-50 border-mint w-full text-eggplant dark:bg-neutral-800 dark:text-neutral-50" %>
    </div>

    <div class="flex flex-col">
      <%= form.label :felt, "I felt:", class: "lowercase text-sm" %>
      <%= form.select :felt, 
        options_for_select(Run.felts.map {|k, v| [k.humanize.capitalize, v]}, @run.felt_before_type_cast), 
        {}, 
        { class: "rounded p-1 bg-neutral-50 border-mint text-eggplant dark:bg-neutral-800 dark:text-neutral-50" } %>
    </div>

    <div class="flex flex-col">
      <%= form.label :notes, "Notes", class: "lowercase text-sm" %>
      <%= form.text_area :notes, 
        cols: 20, 
        rows: 2, 
        class: "rounded p-1 bg-neutral-50 border-mint w-full text-eggplant dark:bg-neutral-800 dark:text-neutral-50" %>
    </div>
  </div>
  <div class="w-5/6 md:w-1/2 flex justify-between">
    <%= form.submit nil, class: "text-sm uppercase tracking-wider cursor-pointer border-b-2 border-transparent hover:border-eggplant", data: { turbo: @shoe && request.referrer == shoe_url(@shoe) ? true : false } %>
    <% if request.referrer == runs_url %>
      <%= link_to "Cancel", :back, class: "text-sm uppercase tracking-wider cursor-pointer py-1 px-3 border-b-2 border-transparent hover:border-eggplant", data: { turbo_frame: "_top" } %>
    <% else %>
      <%= link_to "Cancel", root_path, class: "text-sm uppercase tracking-wider cursor-pointer py-1 px-3 border-b-2 border-transparent hover:border-eggplant", data: { turbo: false } %>
    <% end %>
  </div>
<% end %>