<li id='<%="#{dom_id(run)}_container"%>' class="" data-sort-code='<%= run.date.to_time.to_i %>'>
  <%= turbo_frame_tag dom_id(run), class:"grid grid-cols-[1fr,_auto] gap-x-2 p-5 rounded-md bg-neutral-100 border-2 dark:bg-neutral-800 dark:border-neutral-700" do %>
    <h3><%= run.date.strftime("%m/%-d/%y") %></h3>
    <% if run.felt == "good" %>
      <svg class="h-7 w-7 fill-eggplant justify-self-end" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="" d="M20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M10,9.5C10,10.3 9.3,11 8.5,11C7.7,11 7,10.3 7,9.5C7,8.7 7.7,8 8.5,8C9.3,8 10,8.7 10,9.5M17,9.5C17,10.3 16.3,11 15.5,11C14.7,11 14,10.3 14,9.5C14,8.7 14.7,8 15.5,8C16.3,8 17,8.7 17,9.5M12,17.23C10.25,17.23 8.71,16.5 7.81,15.42L9.23,14C9.68,14.72 10.75,15.23 12,15.23C13.25,15.23 14.32,14.72 14.77,14L16.19,15.42C15.29,16.5 13.75,17.23 12,17.23Z" />
      </svg>
    <% elsif run.felt == "okay" %>
      <svg class="h-7 w-7 fill-eggplant justify-self-end" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="" d="M20 12A8 8 0 1 0 12 20A8 8 0 0 0 20 12M22 12A10 10 0 1 1 12 2A10 10 0 0 1 22 12M15.5 8A1.5 1.5 0 1 1 14 9.5A1.54 1.54 0 0 1 15.5 8M10 9.5A1.5 1.5 0 1 1 8.5 8A1.54 1.54 0 0 1 10 9.5M17 15H13A4 4 0 0 0 9.53 17L7.8 16A6 6 0 0 1 13 13H17Z" />
      </svg>
    <% elsif run.felt == "bad" %>
      <svg class="h-7 w-7 fill-eggplant justify-self-end" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="" d="M20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M15.5,8C16.3,8 17,8.7 17,9.5C17,10.3 16.3,11 15.5,11C14.7,11 14,10.3 14,9.5C14,8.7 14.7,8 15.5,8M10,9.5C10,10.3 9.3,11 8.5,11C7.7,11 7,10.3 7,9.5C7,8.7 7.7,8 8.5,8C9.3,8 10,8.7 10,9.5M12,14C13.75,14 15.29,14.72 16.19,15.81L14.77,17.23C14.32,16.5 13.25,16 12,16C10.75,16 9.68,16.5 9.23,17.23L7.81,15.81C8.71,14.72 10.25,14 12,14Z" />
      </svg>
    <% else %>
      <span></span>
    <% end %>
    <div class="col-span-full h-[2px] my-1 bg-mint"></div>
    <p><%= distance_display(run.distance, current_user.unit) %></p> 
    <p class="justify-self-end"><%= duration_display(run.duration)%></p>
    <p><%= run.notes %></p>
    <div class="flex gap-2 items-center">
      <%= link_to edit_run_path(run) do %> 
        <svg class="h-6 w-6 fill-eggplant dark:fill-mint" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
        </svg>
      <% end %>
        | 
      <%= button_to run_path(run), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } do %>
        <svg class="h-5 w-5 fill-eggplant translate-y-[3px] dark:fill-mint" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
        </svg>
      <% end %> 
    </div>
  <% end %>
</li>