<div class="w-[clamp(300px,_80vw,_1000px)] flex flex-col gap-2">
  <%= month_calendar(attribute: :date, events: @runs) do |date, runs| %>
    <p class="text-right font-semibold px-2"><%= date.day %></p>
    <% runs.each do |run| %>
      <%= link_to run_path(run) do %>
        <div class='<%= "#{feel_category(run)}" %> rounded py-1 text-center m-1'>
          <%= distance_display(run.distance, "mi") %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
