<li id='<%="#{dom_id(shoe)}_container"%>' class="">
  <%= turbo_frame_tag dom_id(shoe), 
    class: "p-2 rounded-md grid grid-cols-1 md:grid-cols-[1fr_auto] items-center gap-x-2 #{shoe_card_classes(shoe)}" do %>
    <h3 class="flex items-center gap-2 uppercase row-start-1">
      <%= shoe.brand %>
      <span class="lowercase">
        <%= shoe.model %>
      </span>
      <span class='text-sm rounded-xl px-2 border-2 <%= border_classes(shoe) %>'>
        <%= category_identifier(shoe) %>
      </span>
    </h3>
    <div class="flex gap-2 items-center row-start-3 md:row-start-1 md:justify-self-end">
      <p><%= distance_display(shoe.mileage, current_user.unit) %></p>
    </div>
    <p class="leading-none row-start-2"><%= shoe.color %></p>

    <%= button_to "Unretire", archive_path(shoe), data: {turbo_frame: "_top"}, method: :delete %>
  <% end %>
</li>