<%= form_with(model: @shoe, id: "#{dom_id(@shoe)}_form", html: { class: "flex flex-col gap-1 items-center p-5 rounded #{@shoe.new_record? ? 'border-2' : ''} dark:border-neutral-700 #{shoe_card_classes(@shoe)}" }) do |form| %>
  <div class="w-full grid sm:grid-cols-2 md:grid-cols-3 gap-x-2">
    <div class="flex flex-col">
      <div class="flex items-baseline gap-1">
        <%= form.label :brand, "Brand:", class: "lowercase text-sm" %>
        <% form.object.errors.full_messages_for(:brand).each do |msg| %>
          <span class="text-sm text-pink-500"><%= msg %></span>
        <% end %>
      </div>
      <%= form.text_field :brand, 
        class: "rounded p-1 bg-neutral-50 border-mint w-full text-eggplant #{@shoe.new_record? ? 'dark:bg-neutral-800 dark:text-neutral-50' : ''}" %>
    </div>
    <div class="flex flex-col">
      <div class="flex items-baseline gap-1">
        <%= form.label :model, "Model:", class: "lowercase text-sm" %>
        <% form.object.errors.full_messages_for(:model).each do |msg| %>
          <span class="text-sm text-pink-500"><%= msg %></span>
        <% end %>
      </div>
      <%= form.text_field :model, 
        class: "rounded p-1 bg-neutral-50 border-mint w-full text-eggplant #{@shoe.new_record? ? 'dark:bg-neutral-800 dark:text-neutral-50' : ''}" %>
    </div>
    <div class="flex flex-col">
      <%= form.label :color, "Color:", class: "lowercase text-sm" %>
      <%= form.text_field :color, 
        class: "rounded p-1 bg-neutral-50 border-mint text-eggplant #{@shoe.new_record? ? 'dark:bg-neutral-800 dark:text-neutral-50' : ''}" %>
    </div>
    <div class="flex flex-col">
      <%= form.label :category, "Category:", class: "lowercase text-sm" %>
      <%= form.select :category, 
        options_for_select(Shoe.categories.map {|k, v| [k.humanize, v]}), 
        {}, 
        { class: "rounded p-1 bg-neutral-50 border-mint text-eggplant #{@shoe.new_record? ? 'dark:bg-neutral-800 dark:text-neutral-50' : ''}" } %>
    </div>
    <div class="flex flex-col">
      <%= form.label :retire_at, "Retire at:", class: "lowercase text-sm" %>
      <%= form.number_field :retire_at, 
        value: @shoe.retire_at ? 
          current_user.unit == "mi" ? @shoe.retire_at : miles_to_km(@shoe.retire_at) : 
          current_user.unit == "mi" ? 500 : miles_to_km(500).round, 
        min: 100, 
        step: :any,
        class: "rounded p-1 bg-neutral-50 border-mint text-eggplant #{@shoe.new_record? ? 'dark:bg-neutral-800 dark:text-neutral-50' : ''}" %>
    </div>
    <div class="flex flex-col">
      <%= form.label :retire_at_units, "Units:", class: "lowercase text-sm" %>
      <%= form.select :retire_at_units, 
        ['mi', 'km'], 
        { selected: current_user.unit }, 
        { class: "rounded p-1 bg-neutral-50 border-mint text-eggplant #{@shoe.new_record? ? 'dark:bg-neutral-800 dark:text-neutral-50' : ''}" } %>
    </div>
  </div>
  <div class="w-5/6 md:w-1/2 flex justify-between mt-3">
    <%= form.submit class: "text-sm uppercase tracking-wider cursor-pointer border-b-2 border-transparent #{hover_classes(@shoe)}", data: { turbo: request.referrer ? true : false } %>
    <% if request.referrer %>
      <%= link_to "Cancel", :back, class: "text-sm uppercase tracking-wider cursor-pointer py-1 px-3 border-b-2 border-transparent #{hover_classes(@shoe)}" %>
    <% else %>
      <%= link_to "Cancel", :back, class: "text-sm uppercase tracking-wider cursor-pointer py-1 px-3 border-b-2 border-transparent #{hover_classes(@shoe)}", data: { turbo_frame: "_top" } %>
    <% end %>
  </div>
<% end %> 