<%= form_with(model: @shoe, id: "#{dom_id(@shoe)}_form", html: { class: "flex flex-col gap-1 items-center p-5 rounded #{@shoe.new_record? ? 'border-2' : ''}" }) do |form| %>
  <div class="w-full grid sm:grid-cols-2 md:grid-cols-3 gap-x-2">
    <div class="flex flex-col">
      <div class="flex items-baseline gap-1">
        <%= form.label :brand, "Brand:", class: "lowercase text-sm" %>
        <% form.object.errors.full_messages_for(:brand).each do |msg| %>
          <span class="text-sm text-pink-500"><%= msg %></span>
        <% end %>
      </div>
      <%= form.text_field :brand, class: "rounded p-1 bg-neutral-50 border-mint w-full text-eggplant" %>
    </div>
    <div class="flex flex-col">
      <div class="flex items-baseline gap-1">
        <%= form.label :model, "Model:", class: "lowercase text-sm" %>
        <% form.object.errors.full_messages_for(:model).each do |msg| %>
          <span class="text-sm text-pink-500"><%= msg %></span>
        <% end %>
      </div>
      <%= form.text_field :model, class: "rounded p-1 bg-neutral-50 border-mint w-full text-eggplant" %>
    </div>
    <div class="flex flex-col">
      <%= form.label :color, "Color:", class: "lowercase text-sm" %>
      <%= form.text_field :color, class: "rounded p-1 bg-neutral-50 border-mint text-eggplant" %>
    </div>
    <div class="flex flex-col">
      <%= form.label :category, "Category:", class: "lowercase text-sm" %>
      <%= form.select :category, options_for_select(Shoe.categories.map {|k, v| [k.humanize, v]}), {}, { class: "rounded p-1 bg-neutral-50 border-mint text-eggplant" } %>
    </div>
    <div class="flex flex-col">
      <%= form.label :retire_at, "Retire at:", class: "lowercase text-sm" %>
      <%= form.number_field :retire_at, value: 500, min: 100, max: 600, step: 50, class: "rounded p-1 bg-neutral-50 border-mint text-eggplant" %>
    </div>
    <div class="flex flex-col">
      <%= form.label :retire_at_units, "Units:", class: "lowercase text-sm" %>
      <%= form.select :retire_at_units, ['mi', 'km'], {}, { class: "rounded p-1 bg-neutral-50 border-mint text-eggplant" } %>
    </div>
  </div>
  <div class="w-5/6 md:w-1/2 flex justify-between mt-3">
    <%= form.submit class: "text-sm uppercase tracking-wider cursor-pointer border-b-2 border-transparent #{shoe_wear_category(@shoe) == "eggplant" ? "hover:border-neutral-50" : "hover:border-eggplant"}" %>
    <%= link_to "Cancel", :back, class: "text-sm uppercase tracking-wider cursor-pointer py-1 px-3 border-b-2 border-transparent #{shoe_wear_category(@shoe) == "eggplant" ? "hover:border-neutral-50" : "hover:border-eggplant"}" %>
  </div>
<% end %>